[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyjwt = "*"

[dev-packages]
mypy = "*"
types-requests = "*"
types-setuptools = "*"
flake8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
